.post-list, .details-container {
    margin: 20px;
}

.post-container, .details-container {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
}

.post-title, .details-title{
    font-size: 1.5rem;
}

.post-author, .details-author {
    font-style: italic;
}

.post-category, .details-author, .details-date{
    text-align: right;
}

.details-content {
    text-align: center;
    font-style: italic;
}

